@using Spotix.Utilities.Models

@model PaginatedList<Spotix.Utilities.Models.ViewModels.EventVM>

@{
    ViewData["Title"] = "活動清單";
}

<h1 class="fw-bolder m-3">活動清單</h1>

<hr />
<h4 class="mt-3 ml-3">搜尋活動</h4>

<form asp-action="Index" class="mt-3 ml-3" id="form_search">
        <div class="row">
            <div class="col-sm col-md-6 col-lg-3 col-xl-3">
                <label class="session-label">活動名稱</label>
                <div class="form-group form-row">
                    <div class="col">
                        <input id="input_Name" type="text" class="form-control mr-2" name="searchStringEvent" value="@ViewData["CurrentFilterEvent"]"/>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-3 col-xl-3">
                <label class="session-label">活動開演時間</label>
            <div class="form-group d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center mr-3">
                    @* <label for="input_FirstSessionTime_Before" class="mr-2">開始日期</label> *@
                    <input id="input_FirstSessionTime_Before"
                           type="date"
                           class="form-control"
                           name="searchTimeBefore"
                           value="@ViewData["CurrentFilterBefore"]"
                           style="width: 200px;" />
                </div>
                <div class="d-flex align-items-center">
                    @* <label for="input_FirstSessionTime_After" class="mr-2">結束日期</label> *@
                    <input id="input_FirstSessionTime_After"
                           type="date"
                           class="form-control"
                           name="searchTimeAfter"
                           value="@ViewData["CurrentFilterAfter"]"
                           style="width: 200px;" />
                </div>
            </div>
            </div>
        </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary mt-1">查詢資料</button>
        <button class="btn btn-outline-secondary mt-1" onclick="clearSearch();">清空查詢</button>
     </div>
    <hr class="mt-0">
    <p>
        <h4 class="mt-3">新增活動</h4>
        <a asp-action="Create" class="btn btn-primary mt-2">新增</a>
    </p>
    <hr />
        <hr class="mt-0">
    <div class="d-flex justify-content-start">
            <div class="col-2 px-0">
                <div class="form-group">
                    <select class="form-control" name="sortOrder" onchange="this.form.submit()">
                        <option value="0" selected="@((string)ViewData["CurrentSort"] == "0" )">預設排序</option>
                    <option value="1" selected="@((string)ViewData["CurrentSort"] == "1" )">活動開演時間 ↓ </option>
                    <option value="2" selected="@((string)ViewData["CurrentSort"] == "2" )">活動開演時間 ↑</option>
                    <option value="3" selected="@((string)ViewData["CurrentSort"] == "3" )">上下架 ↓</option>
                    <option value="4" selected="@((string)ViewData["CurrentSort"] == "4" )">上下架 ↑</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            活動名稱
                        </th>
                        <th>
                            場館地點
                        </th>
                        <th>
                            主辦單位
                        </th>
                        <th>
                            上架
                        </th>
                        <th>
                            活動開演時間
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PlaceName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Host)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Published)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstSessionTime)
                                @* @if (item.FirstSessionTime != null) *@
                                @* { *@
                                @*     @Convert.ToDateTime(item.FirstSessionTime).ToString("yyyy/MM/dd") *@
                                @* } *@
                            <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">編輯</a>
                                @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | *@
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">刪除</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <div class="list-pagination mt-3">
        <div class="form-inline text-center">
            <div class="mx-auto">
                每頁
                <select class="event-select" name="pageSize" onchange="changePageSize()">
                    <option value="5" selected="@((int)ViewData["pageSize"]==5)">5</option>
                    <option value="10" selected="@((int)ViewData["pageSize"]==10)">10</option>
                    <option value="30" selected="@((int)ViewData["pageSize"]==30)">30</option>
                    <option value="50" selected="@((int)ViewData["pageSize"]==50)">50</option>
                </select>&thinsp;筆，第 <span>@(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) / @Model.TotalPages</span> 頁，共 <span>@Model.TotalPages</span> 頁，
                <a asp-action="Index"
                    asp-route-sortOrder="@ViewData["CurrentSort"]"
                    asp-route-pageNumber="@(Model.PageIndex - 1)"
                    asp-route-currentFilterEvent="@ViewData["CurrentFilterEvent"]"
                    asp-route-currentFilterBefore="@ViewData["CurrentFilterBefore"]"
                    asp-route-currentFilterAfter="@ViewData["CurrentFilterAfter"]"
                    asp-route-pageSize="@ViewData["PageSize"]"
                    class="btn btn-outline-secondary btn-sm @prevDisabled">
                    上一頁
                </a>｜跳至第
                <select id="select_goToPage" class="event-select" name="goToPageNumber" onchange="goToPage();">
                    <option>
                        選擇
                    </option>
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <option value="@i" selected="@(Model.PageIndex == i)">
                            @i
                        </option>
                    }
                </select>
                頁｜
            
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilterEvent="@ViewData["CurrentFilterEvent"]"
                   asp-route-CurrentFilterBefore="@ViewData["CurrentFilterBefore"]"
                   asp-route-CurrentFilterAfter="@ViewData["CurrentFilterAfter"]"
                   asp-route-pageSize="@ViewData["PageSize"]"
                   class="btn btn-outline-secondary btn-sm @nextDisabled" >
                    下一頁
                </a>

                </div>
            </div>
        </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function clearSearch() {
            $('#input_Name').val('')
            $('#input_FirstSessionTime_Before').val('');
            $('#input_FirstSessionTime_After').val('');
            $('#form_search').submit()
        }
        function goToPage() {
            $('#form_search').submit()
        }
        function changePageSize() {
            $('#form_search').submit()
        }
    </script>
}


                
        
           
