@using Spotix.Utilities.Models

@model PaginatedList<Spotix.Utilities.Models.ViewModels.SessionVM>

@{
    ViewData["Title"] = "場次清單";
}

<h1 class="fw-bolder m-3">場次清單</h1>

<hr />
@* <h4 class="mt-3 ml-3">搜尋場次</h4> *@

    <form asp-action="Index" class="p-4" id="form_search">
        <div class="row">
            <div class="col-sm col-md-6 col-lg-3 col-xl-3">
                <label class="session-label">場次名稱</label>
                <div class="form-group form-row">
                    <div class="col">
                        <input id="input_Name" type="text" class="form-control mr-2" name="searchStringSession" value="@ViewData["CurrentFilterSession"]" />
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-3 col-xl-3">
                <label class="session-label">活動名稱</label>
                <div class="form-group form-row">
                    <div class="col">
                        <input id="input_EventName" type="text" class="form-control mr-2" name="searchStringEvent" value="@ViewData["CurrentFilterEvent"]" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary mt-1">查詢資料</button>
        <button class="btn btn-outline-secondary mt-1" onclick="clearSearch();">清空查詢</button>
        </div>
        <hr class="mt-0">
        @* <p> *@
        @* <h4 class="mt-3">新增場次</h4> *@
        @* <a asp-action="Create" class="btn btn-primary mt-2">新增</a> *@
        @* </p> *@
        @* <hr /> *@
        @* <div class="d-flex justify-content-start"> *@
        @*     <div class="col-2 px-0"> *@
        @*         <div class="form-group"> *@
        @*             <select class="form-control" name="sortOrder" onchange="this.form.submit()"> *@
        @*                 <option value="0" selected="@((string)ViewData["CurrentSort"] == "0" )">預設排序</option> *@
        @*             <option value="1" selected="@((string)ViewData["CurrentSort"] == "1" )">開演時間 ↓</option> *@
        @*             <option value="2" selected="@((string)ViewData["CurrentSort"] == "2" )">開賣時間 ↓</option> *@
        @*             <option value="3" selected="@((string)ViewData["CurrentSort"] == "3" )">上架時間 ↓</option> *@
        @*             </select> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@


    <div class="row mb-4">
        <div class="col-8">
            <select class="form-control" name="sortOrder" onchange="this.form.submit()">
                <option value="0" selected="@((string)ViewData["CurrentSort"] == "0" )">預設排序</option>
                <option value="1" selected="@((string)ViewData["CurrentSort"] == "1" )">開演時間 ↓</option>
                <option value="2" selected="@((string)ViewData["CurrentSort"] == "2" )">開賣時間 ↓</option>
                <option value="3" selected="@((string)ViewData["CurrentSort"] == "3" )">上架時間 ↓</option>
            </select>
        </div>
        <div class="col-4">
            <a asp-action="Create" class="btn btn-primary">新增場次</a>
        </div>
    </div>

        <div class="table-responsive">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            場次名稱
                        </th>
                        <th>
                            開演時間
                        </th>
                        <th>
                            開賣時間
                        </th>
                        <th>
                            上架時間
                        </th>
                        <th>
                            上架
                        </th>
                        <th>
                            活動名稱
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Convert.ToDateTime(item.SessionTime).ToString("yyyy-MM-dd-hh-mm")
                        </td>
                        <td>
                            @Convert.ToDateTime(item.AvailableTime).ToString("yyyy-MM-dd-hh-mm")
                        </td>
                        <td>
                            @Convert.ToDateTime(item.PublishTime).ToString("yyyy-MM-dd-hh-mm")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Published)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventName)
                        </td>
                        <td>
                            @* @Html.ActionLink("Edit", "Edit", new { id = item.Id }) | *@
                            @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | *@
                            @* @Html.ActionLink("Delete", "Delete", new { id = item.Id }) *@
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">編輯</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">刪除</a>
                        </td>
                      
                    </tr>
                    }
                </tbody>
            </table>
        </div>

     @{ 
         var prevDisabled = !Model.HasPreviousPage ? "disabled" : ""; 
         var nextDisabled = !Model.HasNextPage ? "disabled" : ""; 
     }

    <div class="list-pagination mt-3">
        <div class="form-inline text-center">
            <div class="mx-auto">
                每頁
                <select class="custom-select" name="pageSize" onchange="changePageSize()">
                    
                    <option value="5" selected="@((int)ViewData["pageSize"]==5)">5</option> 
                    <option value="10" selected="@((int)ViewData["pageSize"]==10)">10</option>
                    <option value="30" selected="@((int)ViewData["pageSize"]==30)">30</option>
                    <option value="50" selected="@((int)ViewData["pageSize"]==50)">50</option>
                </select>&thinsp;筆，第 <span>@(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) / @Model.TotalPages</span> 頁，共 <span>@Model.TotalPages</span> 頁，
                <a asp-action="Index" 
                    asp-route-sortOrder="@ViewData["CurrentSort"]" 
                   asp-route-pageNumber="@(Model.PageIndex - 1)" 
                  asp-route-currentFilterSession="@ViewData["CurrentFilterSession"]" 
                   asp-route-CurrentFilterEvent="@ViewData["CurrentFilterEvent"]" 
                    asp-route-pageSize="@ViewData["PageSize"]" 
                   class="btn btn-outline-secondary btn-sm @prevDisabled"> 
                   上一頁 
               </a>｜跳至第 
                <select id="select_goToPage" class="custom-select" name="goToPageNumber" onchange="goToPage();">
                    <option>
                        選擇
                    </option>
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <option value="@i" selected="@(Model.PageIndex == i)">
                            @i
                        </option>
                    }
                </select>
                頁｜

                 <a asp-action="Index" 
                  asp-route-sortOrder="@ViewData["CurrentSort"]" 
                   asp-route-pageNumber="@(Model.PageIndex + 1)" 
                   asp-route-currentFilterSession="@ViewData["CurrentFilterSession"]" 
                  asp-route-CurrentFilterEvent="@ViewData["CurrentFilterEvent"]" 
                  asp-route-pageSize="@ViewData["PageSize"]" 
                  class="btn btn-outline-secondary btn-sm @nextDisabled"> 
                   下一頁 
              </a> 

            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function clearSearch() {
            $('#input_Name').val('')
            $('#input_EventName').val('')
            $('#form_search').submit()
        }
        function goToPage() {
            $('#form_search').submit()
        }
        function changePageSize() {
            $('#form_search').submit()
        }
    </script>
}
